<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZewoSrv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZewoSrv.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CHTTPParser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CLibvenice</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CURIParser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPParser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPSerializer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_IP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Log</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MediaType</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_POSIX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_POSIXRegex</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathParameterMiddleware</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PostgreSQL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_RegexRouteMatcher</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Router</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_S4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SQL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_String</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_StructuredData</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TCP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TrieRouteMatcher</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_URI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Venice</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ZewoSrv</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ZewoSrvTestSuite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
